<div class="main">
    <div class="left main_child">
      <p (click)="fetchProducts()">Shop</p>
    </div>
    <div class="centre main_child">
        <input type="text" placeholder="Search Products.." #searchInput>
        <div class="search" (click)="searchProducts()">
            <img src="../../assets/images/search.png" id="search_img">
        </div>
    </div>
    <div class="right main_child">
        <div class="cart">
            <img src="../../assets/images/shopping-cart.png" id="cart_img">
            <span>{{itemCount}}</span>
        </div>
        <div class="profile">
            <img src="../../assets/images/1112.png" id="my_img">
            <span>Ritesh Arora</span>
        </div>
    </div>
</div>
