body {
  margin: 0px;
  padding: 0px;
}
.main {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 5rem;
  padding: 0px;
  margin: 0px;
  flex-wrap: wrap;
  background-color: #0c2333;
  margin: 0px;
}
.main_child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  width: 10%;
}
.left p {
  font-size: 2rem;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.centre {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
input {
  width: 60%;
  height: 2.5rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border: 0.1px solid grey;
  outline: none;
  padding: 0.2rem;
  padding-left: 0.4rem;
  font-size: medium;
}
.search {
  background-color: #febd69;
  width: 5%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  cursor: pointer;
}
.right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
  color: white;
}
.cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  color: white;
}
.cart span {
  background-color: #febd69;
  border-radius: 25%;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.profile span {
  cursor: pointer;
}
#search_img {
  width: 50%;
  height: auto;
}
#my_img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 1rem;
}
#cart_img {
  width: 2.5rem;
}
