<div class="card">
    <div class="image_wrapper">
      <img class="card-img-top" [src]="imageUrl" alt="Card image cap">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Price: {{product.price}}</li>
      <li class="list-group-item">Reviews: {{product.ratings}}/5</li>
      <li class="list-group-item">Category: {{product.category}}</li>
    </ul>
    <div class="card-bodyy">
      <button class="btn btn-primary" style="margin-bottom: 0.5rem;" (click)="increaseCount()">Add to Cart</button>
    </div>
  </div>