.card {
  margin: 1rem;
  width: 25rem;
}
.card-bodyy {
  display: flex;
  justify-content: center;
}
.card-img-top {
  width: 80%;
  margin-left: 10%;
  height: 18rem;
}
.imager_wrapper {
  width: 30rem;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
